*.md linguist-language=sql 
*.yml linguist-language=sql 
*.html linguist-language=sql 
*.js linguist-language=sql 
*.xml linguist-language=sql
*.css linguist-language=sql 
*.sql linguist-language=sql
*.uml linguist-language=sql 
*.cmd linguist-language=sql
